@model CoreLoanManagement.WebSite.Models.CustomerViewModel
@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (CoreLoanManagement.WebSite.Models.Customer customer in Model.CustomerList)
            {
                <tr>
                    <td>
                        @customer.Id
                    </td>
                    <td>
                        @customer.CustomerName
                    </td>
                </tr>
            }
    </tbody>
</table>
