<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>			
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\CoreLoanManagement.WebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
			<defaultDocument>
				<files>
					<clear />
					<add value="/swagger/index.html"/>
				</files>
			</defaultDocument>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 010C4F88-C3B3-406F-85B0-0BEC15AE2A42-->